body {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	color: #1b3e77;
	background-color: #e0e6f0;
	font-weight: 300;
}

.folio-left, .folio-right {
	margin: 40px 0px 40px 0px;
}

.container {
	max-width: 940px;
	margin: 0px auto;
}

.logo {
	max-width: 100px;
	margin: 0px auto;
	margin-bottom: -20px;
}

#jay-header {
	background-color: #234275;
	padding-top: 30px;
	height: 240px;
	margin: 0px;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
}

#jay-header h1 {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	color: #ffffff;
	font-weight: 200;
	text-transform: lowercase;
}

#jay-header h4 {
	margin-top: -5px;
	font-size: 12pt;
	color: gray;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 200;
	text-transform: lowercase;
	color: #ffffff;
}

.jay-nav {
	padding: 0px;
	text-align: center;
}

.jay-nav li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.active a {
	color: white;
}

a {
	-webkit-transition: color .2s ease;
}

a:hover {
	text-decoration: none;
	color: white;
}

.jay-row {
	background-color: #234275;
	margin: 0px;
}

h2 {
	padding-top: 80px;
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

h3 {
	font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
}

.folio-left img {
	float: left;
	margin-right: 20px;
}

.folio-right img {
	float: right;
	margin-left: 20px;
}

.about {
	max-width: 640px;
	margin: 0px auto;
	padding-top: 12px;
	font-size: 16px;
	line-height: 26px;
}